/.env.local
/.env.*.local

/apps/*/*/var/

/apps/*/*/build/
!/apps/*/*/build/supervisor/.gitkeep

/vendor/
.phpunit.result.cache

/build
/eventStore/
*.repo
/databases/
/elasticsearch/
*.pid

jquery-3.5.1.js
materialize.js
