<header>

    <ul id="master-dropdown" class="dropdown-content">
        <li><a href="{{ path('categories') }}">Categorias</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
    </ul>

    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Myfinance</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#!">Movimientos</a></li>
                <li><a href="#!">Importaciones</a></li>
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-trigger" href="#!" data-target="master-dropdown">Maestros<i
                                class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
    </nav>


</header>